@import url('https://fonts.googleapis.com/css?family=PT+Sans|Vollkorn:700');
@import url('https://fonts.googleapis.com/css?family=Catamaran|Oswald:500|Vollkorn:700');

/* RGB */
$color1: #8A80FF;
$color2: #80B9FF;
$color3: #1B1099; //(128,185,255)
$color4: #FFE1C0;
$color5: #CC8152;

//


$principal: 'Vollkorn', serif;
$textos: 'PT Sans', sans-serif;
$textos2: 'Oswald', sans-serif;
$textos3: 'Catamaran', sans-serif;